name: otzaria
description: "A Jewish books library."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

msix_config:
  display_name: אוצריא
  display_name_short: אוצריא
  publisher_display_name: sivan22
  identity_name: sivan22.Otzaria
  description: "ספריית ספרים יהודיים עם אפשרויות חיפוש חכם"
  msix_version: 0.9.74.0
  logo_path: assets/icon/icon.png
  publisher: CN=sivan22, O=sivan22, C=IL
  certificate_path: sivan22.pfx
  certificate_password: sivan22
  signtool_options: /debug
  app_installer: #<-- app installer configuration
    publish_folder_path: C:\dev\otzaria\build\windows\x64\runner\Release
    hours_between_update_checks: 24
    automatic_background_task: true
    update_blocks_activation: true
    show_prompt: true
    force_update_from_any_version: false

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 0.9.74

environment:
  sdk: ">=3.2.6 <4.0.0"

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  flutter_bloc: ^9.1.1
  bloc: ^9.2.0
  equatable: ^2.0.8
  flutter_localizations:
    sdk: flutter
  flutter_settings_screens: ^0.3.4
  hive: ^4.0.0-dev.2
  isar_flutter_libs: ^4.0.0-dev.14
  isar: ^4.0.0-dev.14
  msix: ^3.16.12
  path_provider: ^2.1.5
  html: ^0.15.1
  pdfrx: ^2.2.24
  url_launcher: ^6.3.1
  flutter_widget_from_html: ^0.17.0
  scrollable_positioned_list: ^0.3.8
  search_highlight_text: ^1.0.0+2
  fuzzywuzzy: ^1.1.6
  flutter_svg: ^2.2.3  
  fluentui_system_icons: ^1.1.273
  file_picker: ^10.3.8
  flutter_launcher_icons: "^0.14.4"
  provider: ^6.1.5
  expandable: ^5.0.1
  multi_split_view: ^3.6.1
  updat: ^1.3.2
  flutter_context_menu: ^0.4.1
  printing:
  pdf: ^3.11.3
  kosher_dart: ^2.0.18
  gematria: ^1.0.0
  csv: ^6.0.0
  archive: ^4.0.7
  filter_list: 1.0.3
  package_info_plus: ^9.0.0
  crypto: ^3.0.7
  path: ^1.9.1
  http: ^1.4.0
  sqflite: ^2.4.2
  characters: ^1.4.0
  flutter_document_picker:
    git:
      url: https://github.com/sidlatau/flutter_document_picker
      ref: master
  collection: ^1.18.0
  search_engine:
    #path: ../search_engine
    git:
      url: https://github.com/Sivan22/otzaria_search_engine
      ref: use-regex
  flutter_archive: ^6.0.4
  window_manager: ^0.5.1
  flutter_spinbox: ^0.13.1
  toggle_switch: ^2.3.0
  logging: ^1.3.0
  synchronized: ^3.3.1
  sqflite_common_ffi: ^2.3.6
  sqlite3_flutter_libs: 0.5.40
  shared_preferences: ^2.5.4
  super_clipboard: ^0.9.1
  flutter_local_notifications: ^19.5.0
  timezone: ^0.10.1
  shamor_zachor:
    path: ./packages/shamor_zachor
  flutter_single_instance: ^1.7.0
  xml: ^6.6.1
  flutter_markdown: ^0.7.7
  system_fonts: ^1.0.1

dependency_overrides:
  #  it forces the version of the intl package to be 0.19.0 across all dependencies, even if some packages specify a different compatible version.
  matcher: ^0.12.18
  test: any
  analyzer: any
  isar: 4.0.0-dev.14
  isar_flutter_libs: 4.0.0-dev.14

flutter_launcher_icons:
  android: true
  ios: true
  remove_alpha_ios: true
  image_path: "assets/icon/icon.png"
  min_sdk_android: 21 # android min sdk min:16, default 21
  windows:
    generate: true
    image_path: "assets/icon/icon.png"
    icon_size: 256 # min:48, max:256, default: 48

dev_dependencies:
  flutter_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0
  test: ^1.5.2
  build_runner: ^2.4.11
  bloc_test: ^10.0.0
  mockito: ^5.4.4

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
    - assets/
    - assets/logos/
    - assets/ca/
    - assets/icon/logo_nedarim.png
    - assets/icon/memorial_candle.svg
    - assets/icon/שמור וזכור.png
    - assets/icon/זכור ושמור.png
    - assets/icon/shamor_zachor_with_v.png
    - assets/icon/icon.png
    - lib/migration/dao/sqflite/

    - assets/dictionary.json
    - assets/default_commentators.json

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For

  fonts:
    - family: TaameyAshkenaz
      fonts:
        - asset: fonts/TaameyAshkenaz-Medium.ttf
    - family: FrankRuhlCLM
      fonts:
        - asset: fonts/FrankRuehlCLM-Medium.ttf
    - family: Rubik
      fonts:
        - asset: fonts/Rubik-VariableFont_wght.ttf
    - family: NotoRashiHebrew
      fonts:
        - asset: fonts/NotoRashiHebrew-VariableFont_wght.ttf
    - family: TaameyDavidCLM
      fonts:
        - asset: fonts/TaameyDavidCLM-Medium.ttf
    - family: Shofar
      fonts:
        - asset: fonts/ShofarRegular.ttf
    - family: KeterYG
      fonts:
        - asset: fonts/KeterYG-Medium.ttf
    - family: Tinos
      fonts:
        - asset: fonts/Tinos-Regular.ttf
    - family: NotoSerifHebrew
      fonts:
        - asset: fonts/NotoSerifHebrew-VariableFont_wdth,wght.ttf
